:root {
  --font-family :'Cairo', sans-serif;
  --main-color : #2196f3;
  --white-color : white;
  --black-color : black;
  --bg-hover-button : rgba(241, 238, 238, 0.471);
  --transition-period : .3s;
  --soft-border-color : #e9e6e6;
  --section-background: #ececec;
  --small-font-color : #666;
  --main-section-padding : 100px 15px;
  --quality-color : #f44036;
  --time-color : #009688;
  --passion-color : #03a9f4;
}

* {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.2;
}


a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  background-color: var(--white-color);
  counter-reset: services;
}

/* main container */
.container {
  margin: auto;
}

/* start header  */
header {
  background-color: var(--white-color);
  padding-left: 10px;
  padding-right: 10px;
  text-transform: capitalize;
  box-shadow: 0px 1px 10px rgb(180, 179, 179);
}

header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
}

header .main-nav  {
  display: flex;
  font-size: 18px;
}

.main-nav > li > a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  color: black;
  height: 72px;
  transition-property: color background-color;
  transition-duration: var(--transition-period);
}
.main-nav > li > a:hover {
  color: var(--main-color);
  background-color: var(--bg-hover-button);
}

.main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  top: 0%;
  background-color: var(--main-color);
  transition-property: width;
  transition-duration: var(--transition-period);
}
.main-nav > li > a:hover::before {
  width: 100%;
}
.main-nav > li:last-child:hover .mega-menu {
  display: flex;
}
.mega-menu {
  position: absolute;
  display: none;  
  width: 100%;
  height: fit-content;
  gap: 50px;
  top: 72px;
  right: 0px;
  z-index: 100;  
  padding: 30px; 
  background-color: var(--white-color);
  border-top: 2px solid var(--soft-border-color);
  border-bottom: 3px solid var(--main-color);
}

.mega-menu .image img{
  max-width: 100%;
}
.mega-menu ul {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 250px;
}
.mega-menu a {  
  display: block;
  color: var(--main-color);
  font-weight: bold;
  font-size: 18px;
  padding: 15px;
  transition: var(--transition-period);
}
.mega-menu ul :not(:last-child) {
  border-bottom: 1px solid var(--soft-border-color);
}
.mega-menu a:hover {
  padding-left: 20px;
}
.mega-menu a i {
  margin-right: 10px;
}
/* End header  */

/* ------------------------------------------------ */

/* start landing */
.landing {
  position: relative;
}

.landing .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 865px;
  padding-bottom: 90px;
  z-index: -1;
  padding-left: 15px;
  padding-right: 15px;
}

.landing::before {
  position: absolute;
  content: "";
  background-color: var(--section-background);
  width: 100%;
  height: 100%;
  z-index: -2;
  top: -40px;
  transform-origin: top left;
  transform: skewY(-6deg);
}

.landing i {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  color: var(--main-color);
  font-size: 2rem;
  animation: imoving 1.5s  infinite;
  animation-timing-function: ease;
}

@keyframes imoving {
  0%,20%,50%,80%,100% {
    transform: translate(-50%,0px);
  }
  40%,60% {
    transform: translate(-50%,-15px);
  }
}

.landing h1 {
  text-transform: capitalize;
  font-size: 40px;
  line-height: 1.6;
  letter-spacing: -2px;
}

.landing p {
  font-size: 23px;
  line-height: 1.6;
  max-width: 500px;
  color: var(--small-font-color);
}

@media (max-width : 768px ) {
  .landing h1 {
    font-size: 28px;
  }
  .landing p {
    font-size: 18px;
    max-width: 400px;
  }
}

.landing .image img {
  position: relative;
  width: 600px;
  animation: Ymoving 5s linear infinite;
}

@keyframes Ymoving{
  0%,
  100% {
    top : 0;
  }
  50% {
    top : -50px;
  }
}
@media (max-width : 991px) {
  .landing .image img {
    display: none;
  }
  .landing .production {
    text-align: center;
  }
}

/* End landing */

/* --------------------------------------------- */

/* start title */
.main-title {
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
  margin: 0px auto 80px ;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  border : 2px solid black;
  cursor: pointer;
  transition: var(--transition-period);
  z-index: 1;
}

.main-title:hover {  
  color: white;
  border-color: white;
  transition-delay: 0.5s;
}

.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border-radius: 50% ;
  z-index: -1;
}

.main-title::before {
  left: -30px;
}

.main-title:hover::before {
  animation : left-move .5s linear forwards;
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;    
    border-radius: 0px;
    width: 51%;
    height: 100%;
  }
}

.main-title::after {
  right: -30px;
}


.main-title:hover::after {
  animation: right-move .5s linear forwards;
}

@keyframes right-move {
  50%{
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0px;
    width: 51%;
    height: 100%;
  }
}
/* end title */

/* ------------------------------------------------ */

/* start articles */
.articles {
  padding: var(--main-section-padding);
}

.articles .container {
display: grid;
grid-template-columns: repeat(auto-fill , minmax(calc((1170px - 120px) / 4) , 1fr));
gap: 40px;
}

.articles .container > div {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  box-shadow: 0px 2px 15px  rgba(0, 0, 0, 0.15);
  transition-duration: var(--transition-period);
}

.articles .container > div:hover {
  box-shadow: 2px 3px 12px 0px rgba(0, 0, 0, 0.201);
  transform: translateY(-10px);
}

.articles img {
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.articles .content {
  flex-grow: 1;
  padding: 20px;
  border-bottom: 1px solid var(--soft-border-color);  
}
.articles h3 {
  text-transform: capitalize;
  margin-bottom: 10px;
}

.articles p {
  color: var(--small-font-color);
  max-height: 100px;
  overflow: hidden;
}

.articles .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.articles a {  
  text-transform: capitalize;
  font-weight: bold;  
  color: var(--main-color);
}

.articles i {
  position: relative;
  color: var(--main-color);

}

.articles .container > div:hover i {
  animation: Xmove .7s linear infinite;
}

@keyframes Xmove{
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(10px);
  }
}
/* End articels */

/* start gallery */

.gallery {
  background-color: var(--section-background);
  padding: var(--main-section-padding);
}

.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(calc((1170px - 80px) / 3) , 1fr));
  gap: 40px;
}

@media (max-width : 991px) {
  .gallery .container {
    grid-template-columns: repeat(auto-fill , minmax( calc((640px - 40px ) / 2) ,1fr));
  }
}

.gallery .box {
  overflow: hidden;
  padding: 15px;  
  background-color: white;
  box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.1);
}

.gallery .image {
  position: relative;
  overflow: hidden;
  transition: var(--transition-period);
}


.gallery .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);  
  width: 0;
  height: 0;
  opacity: 0.1;
  background-color: white;
  z-index: 10;
}

.gallery .image:hover::before {
  animation: flashing var(--transition-period);

}

@keyframes flashing {
  from {
    width: 0;
    height: 0;
  }

  to {
    width: 100%;
    height: 100%;
  }
}

.gallery img {
  width: 100%;
  transition: var(--transition-period);
  z-index: -1;
}

.gallery .image:hover img {
  transform: scale(1.1) rotate(5deg);
}

/* end gallery */

/*--------------------------------------------------*/

/* start features */
.features {
  padding: var(--main-section-padding);
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(calc((1170px - 80px) / 3) , 1fr));
  gap: 40px;
}

@media (max-width : 991px) {
  .features .container {
    grid-template-columns: repeat(auto-fill , minmax( calc((640px - 40px ) / 2) ,1fr));
  }
}

.features .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.29);
  overflow: hidden;
}


.features .image {
  position: relative;
}

.features .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 0, 0);
  opacity: .4;
}

.features .quality .image::before {
  background-color: var(--quality-color);
}
.features .time .image::before {
  background-color: var(--time-color);
}
.features .passion .image::before {
  background-color: var(--passion-color);
}

.features .image::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-color: transparent transparent white transparent;
  border-width: 0px 0px 170px 650px;
  transition: var(--transition-period);
}

.features .box:hover .image::after {
  border-width: 0px 650px 170px 0px;
}
.features img {
  width: 100%;
}

.features .content {
  text-align: center;
  margin-bottom: 30px;
  flex: 1;
  overflow: hidden;
}

.features h3 {
  position: relative;
  font-size: 40px;
  text-transform: capitalize;
  width: fit-content;
  margin: auto;
}

.features h3::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform-origin: center center;
  transform: translatex(-50%);
  height: 5px;
  width: 80%;
}

.features .quality h3::before {
  background-color: var(--quality-color);
}

.features .time h3::before {
  background-color: var(--time-color);
}

.features .passion h3::before {
  background-color: var(--passion-color);
}

.features p {
  margin-top: 50px;
  max-height: 160px;
  font-size: 20px;
  line-height: 1.6;
  color: var(--small-font-color);
  padding: 25px;
}

.features a {
  position: relative;
  padding: 10px 30px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 22px;
  border-width: 2px ;
  border-style: solid;
  border-radius: 6px;
  cursor: pointer;
  transition: var(--transition-period);
}

.features .quality a {
  color: var(--quality-color);
  border-color: var(--quality-color);
}
.features .time a {
  color: var(--time-color);
  border-color: var(--time-color);
}
.features .passion a {
  color: var(--passion-color);
  border-color: var(--passion-color);
}

.features a::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: var(--transition-period);
}

.features .quality a::before {
  background-color: var(--quality-color);
}
.features .time a::before {
  background-color: var(--time-color);
}
.features .passion a::before {
  background-color: var(--passion-color);
}

.features .box:hover a {
  color: white;
}

.features .box:hover a::before {
  width: 100%;
}

/* end features */

/* start testimonials */
.testimonials {
  padding: var(--main-section-padding);
  background-color: var(--section-background);
}

.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(calc((1170px - 80px) / 3) , 1fr));
  gap: 40px;
}

@media (max-width : 991px) {
  .testimonials .container {
    grid-template-columns: repeat(auto-fill , minmax( calc((640px - 40px ) / 2) ,1fr));
  }
}

.testimonials .box {
  position: relative;
  background-color: white;
  border-radius: 7px;
  padding: 20px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%) ;
}

.testimonials .box > *:not(img) {
  margin: 0 0 10px 0;
}

.testimonials img {
  position: absolute;
  top: -50px;
  right: -10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid var(--section-background);
}

.testimonials h3 {
  font-size: 18.72px;
  font-weight: bold;
  text-transform: capitalize;
}

.testimonials h6 {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--small-font-color);
}

.testimonials .stars .filled {
  color :#ffc107;
}

.testimonials p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--small-font-color);
}


/* end testimonials */

/* start team member */
.team-members{
  padding: var(--main-section-padding);
}

.team-members .container {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(calc((1170px - 60px) / 3),1fr));
  gap: 30px;
}

@media (max-width : 991px) {
  .team-members .container {
    grid-template-columns: repeat(auto-fill , minmax(calc((640px - 60px) / 2),1fr));
  }
}

.team-members .box {
  position: relative;
}

.team-members .box::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #f3f3f3;
  height: 100%;
  width: 83%;
  border-radius: 10px;
  z-index: -1;
}

.team-members .box::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #e4e4e4;
  height: 100%;
  width: 0;
  border-radius: 10px;
  z-index: -1;
  transition: var(--transition-period);
}
.team-members .box:hover::after {
  width: 83%;
}

.team-members .info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.team-members img {
  width: calc(100% - 60px);
  border-radius: 10px;
  transition: var(--transition-period);
}

.team-members .box:hover img {
  filter:grayscale(1);
}

.team-members .social {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  width: 60px;
}

.team-members .social a {
  color: #777;
  
}

.team-members a:hover i {
  transition: var(--transition-period);
  color: var(--main-color);
}

.team-members .explain {
  position: relative;
  text-transform: capitalize;
  padding: 20px;
  left: 17%;
  width: 83%;
}
.team-members h3 {
  font-size: 22px;
  color: var(--main-color);
  transition: var(--transition-period);
}

.team-members .box:hover h3 {
  color: #777;
}

.team-members p {
  margin-top: 10px;
}
/* end team member  */

/* start services */
.services {
  padding: var(--main-section-padding);
  background-color: var(--section-background);
}

.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(calc((1170px - 80px) / 3),1fr));
  gap: 40px;
}
@media (max-width : 991px){
  .services .container {
    grid-template-columns: repeat(auto-fill,minmax(calc((640px - 40px ) / 2),1fr));
  }
}

.services .box {
  position: relative;
  background-color: white;
  box-shadow: 7px 7px 15px rgb(0 0 0 / 7%);
  transition: var(--transition-period);
}
.services .box:hover {
  transform: translateY(-10px);
}

.services .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0px;
  height: 3px;
  transform: translateX(-50%);
  background-color: var(--main-color);
  transition: var(--transition-period);
}
.services .box:hover::before {
  width: 100%;
}

.services i {
  display: block;
  margin-top: 30px;
  color: #d5d5d5;
  text-align: center;
}
.services h6 {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 25px;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-color);
}
.services .info {
  position: relative;
  padding: 15px;
  text-align: right;
  height: 50px;
}
.services .box .info::before {
  counter-increment: services;
  content: "0" counter(services);
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  font-size: 30px;
  padding-left: 15px;
  font-weight: bold;
  background-color: var(--main-color);
  color: white;
}
.services .info::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 80px;
  width: 50px;
  height: 100%;
  background-color: #d5d5d5;
  transform: skewX(-30deg);
  transform-origin: top;
}

.services a {
  color: var(--main-color);
}

/* end services */

/* start our skills */
.our-skills {
  padding: var(--main-section-padding);
}

.our-skills .container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.our-skills img {
  width: 100%;
}

@media (max-width : 991px) {
  .our-skills .image {
    display: none;
  }
}

.our-skills .lang {
  flex: 1;
}

.our-skills h3 {    
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin: 20px 0px;
}

.our-skills h3 span {
  padding: 2px 5px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid var(--soft-border-color);
  color: var(--main-color);
}

.our-skills .progress {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: var(--section-background);
}

.our-skills .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--main-color);
}


/* end our skills */

/* start how work */
.how-work {
  padding: var(--main-section-padding);
  background-color: var(--section-background);
}

.how-work .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.how-work .container > img {
  max-width: 100%;
  margin-right: 100px;
}
@media (max-width : 991px) {
  .how-work .container {
    flex-direction: column;
  }
  .how-work .container > img {
    margin-right: 0px;
    margin-bottom: 50px;
  }
}

.how-work .fields {
  flex: 1;
}

.how-work .box {
  position: relative;
  display: flex;
  align-items: center;
  padding: 30px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: #f6f5f5;
  margin-bottom: 20px;
}

@media (max-width:767px) {
  .how-work .box {
    flex-direction: column;
    text-align: center;
  }
  .how-work .box img {
    margin-bottom: 30px;
  }
}

.how-work .box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 0px;
  height: 0px;
  background-color: var(--section-background);
  transition: var(--transition-period);
}

.how-work .box:hover::before {
  width: 100%;
  height: 100%;
}

.how-work .box > *{
  z-index: 2;
}

.how-work .box img {
  width: 64px;
  height: 64px;
  margin-right: 30px;
}

.how-work h3 {
  font-size: 22px;
}
.how-work p {
  margin-top: 15px;
  font-size: 18px;
  line-height: 1.6;
  color: var(--small-font-color);
}

/* end how work */

/* start pricing plans*/
.pricing-plans {
  padding: var(--main-section-padding);
  background-color: var(--section-background);
}
.pricing-plans .container {
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(calc((1170px - 60px) / 3),1fr));
  gap: 30px;
}

@media (max-width : 991px) {
  .pricing-plans .container {
    grid-template-columns: repeat(auto-fill , minmax(calc((640px - 30px) / 2),1fr));
  }
}

.pricing-plans .box {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06),0px 10px 10px rgba(0, 0, 0, 0.08);
}
@media (min-width : 1200px ) {
  .pricing-plans .box.popular {
    transform: translateY(-20px);
  }
}

.pricing-plans .box.popular .label {
  position: absolute;
  content: "";
  top: 0;
  right: 20px;
  padding: 10px;
  padding-bottom: 31px;
  writing-mode: vertical-lr;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  background-color: var(--main-color);
  color: white;
  z-index: 2;
}

.pricing-plans .popular .label::after {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0;
  width: 0px;
  height: 0px;
  background-color: white;
  border: 21px solid var(--main-color);
  border-top-width: 0;
  border-bottom-color: white;
} 

.pricing-plans .box > *{
  z-index: 2;
}
.pricing-plans .box::before,
.pricing-plans .box::after {
  position: absolute;
  content: "";
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  transition: var(--transition-period);
}
.pricing-plans .box::before {
  top: 0;
  left: 0;
}
.pricing-plans .box::after {
  bottom: 0;
  right: 0;
}
.pricing-plans .box:hover::before,
.pricing-plans .box:hover::after { 
  width: 100%;
}

.pricing-plans h3 {
  font-size: 25px;
  margin: 30px auto;
  text-transform: capitalize;
}

.pricing-plans img {
  margin: 0px auto 30px;
  width: 80px;
  height: 80px;
}

.pricing-plans .price {
  text-align: center;
}

.pricing-plans span:first-of-type {
  display: block;
  margin-bottom: 5px;
  font-size: 60px;
  font-weight: bold;
  color : var(--main-color);
}

.pricing-plans .price .time {
  color: #777;
}

.pricing-plans ul {
  margin-top: 20px;
}

.pricing-plans li {
  position: relative;
  padding: 20px;
  font-size: 16px;
  border-top: 1px solid var(--soft-border-color);
}
.pricing-plans li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  color: var(--main-color);
  font-weight: 900;
  margin-right: 10px;
}

.pricing-plans a {
  width: fit-content;
  padding: 15px 20px;
  margin: 40px auto;
  text-transform: capitalize;
  font-weight: bold;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 6px;
  transition: var(--transition-period);
}

.pricing-plans a:hover {
  background-color: var(--main-color);
  color: white;
}
/* end pricing plans */

/* start top videos */
.top-videos {
  padding: var(--main-section-padding);
}

.top-videos .container {
  display: flex;
  border : 1px solid rgba(128, 128, 128, 0.29);
  --padding-video-list : 20px;
}
@media (max-width : 991px ) {
  .top-videos .container {
    flex-direction: column;
    border-color: transparent;
  }
}

.top-videos .video-list {
  min-width: 300px;
  max-width: 400px;
}
@media (max-width : 991px ) {
  .top-videos .video-list {
    max-width: none;
    min-width: none;
  }
  .top-videos .video-list {
    border : 1px solid rgba(128, 128, 128, 0.29);
  }
}
.top-videos .video-list h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-video-list);
  background-color: #f4f4f4;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}

.top-videos ul li {
  padding: var(--padding-video-list);
  border-top : 1px solid rgba(128, 128, 128, 0.179);
  cursor: pointer;
}

.top-videos ul li a {
  color: black;
  text-transform: capitalize;
  transition: var(--transition-period);
}
.top-videos ul li:hover a {
  color: var(--main-color);
}

.top-videos ul li span {
  display: block;
  margin-top: 10px;
  color: #777;
}

.top-videos .image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #E2E2E2;
  border: 10px solid #E2E2E2;
}

.top-videos .image img {
  width: 100%;
}
.top-videos .image p {
  background-color: white;
  padding: var(--padding-video-list);
}
/* end top videos */

/* start our awesome stats */
.our-stats {
  position: relative;
  padding: var(--main-section-padding);
  background-image: url(../imgs/stats.jpg);
  background-size: cover;
}

.our-stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.95;
}

.our-stats h2 {
  position: relative;
  margin-bottom: 50px;
  font-size: 40px;
  text-transform: capitalize;
  text-align: center;
}

.our-stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(calc((1170px - 60px) / 4),1fr));
  gap: 20px;
}

.our-stats .box {
  position: relative;
  padding: 30px;
  background-color: white;
  text-align: center;
  opacity: .8;
  transition: var(--transition-period);
}
.our-stats .box:hover {
  opacity: 1;
}
.our-stats .box::before,
.our-stats .box::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: var(--main-color);
  transition: 1s;
}
.our-stats .box::before{
  bottom: 0;
  left: 0;
}
.our-stats .box::after{
  top: 0;
  right: 0;
}
.our-stats .box:hover::before,
.our-stats .box:hover::after {
  height: 100%;
}

.our-stats .number {
  display: block;
  margin-top:10px ;
  margin-bottom: 10px;
  font-size: 50px;
  font-weight: bold;
}

.our-stats .name {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-transform: capitalize;
  color: var(--main-color);
}
/* end our awesome stats */
/* start discount */
.discount {
  min-height: 100vh;
  display: flex;
}
@media (max-width : 991px) {
  .discount {
    flex-direction: column;
  }
}

.discount .text { 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  background-image: url(../imgs/discount-background1.jpg);
  background-size: cover;
}
.discount .text::after {
  content: "";
  position: absolute;
  background-image: url(../imgs/discount-background2.jpg);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}
.discount .text::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(23 135 224 / 97%);
  z-index: 2;
}
@media (max-width : 991px) {
  .discount .text {
    width: 100%;
  }
}

.discount .text .content {
  padding: 10px;
  z-index: 10;
}

.discount .text h2 {
  margin-top: 33px;
  margin-bottom: 33px;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1.5px;
  color: white;
}

.discount p {
  max-width: 500px;
  font-size: 18px;
  line-height: 1.7;
  color: white;
}

.discount .text img {
  width: 100%;
  max-width: 300px;
}


.discount .requset {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
}
@media (max-width : 991px) {
  .discount .requset {
    width: 100%;
  }
}
.discount .requset .content {
  padding: 0 20px;
}

.discount .requset h2 {
  text-align: center;
  margin-top: 33px;
  margin-bottom: 33px;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -2px;
}

.discount input:not(#send) {
  all: unset;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--soft-border-color);
  padding: 15px;
  margin-bottom: 20px;
}

.discount textarea {
  all: unset;
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid var(--soft-border-color);
}
.discount #send {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: var(--main-color);
  border: none;
}
/* end discount */
/* responsive design */
@media (max-width:768px) {
  header .container {
    position: unset;
    flex-direction: column;
  }
  header .logo {
    height: 50px;
  }
  .main-nav > li > a {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 16px;
    height: 40px;
  }
  .mega-menu {
    top: 90px;
    flex-direction: column;
    gap: 0px;
    padding: 0px;
  }
  .mega-menu ul:first-of-type {
    border-bottom: 1px solid var(--soft-border-color);
  }
}


@media (min-width : 768px ){
  .container {
    width: 750px;
  }

}

@media (min-width : 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width : 1200px) {
  .container {
    width: 1170px;
  }
}
@media  (max-width : 991px){
header .image  {
    display: none;
  }
}
