:root {
  --font-family :'Cairo', sans-serif;
  --main-color : #2196f3;
  --white-color : white;
  --black-color : black;
  --bg-hover-button : rgba(241, 238, 238, 0.471);
  --transition-period : .3s;
  --soft-border-color : #e9e6e6;
  --section-background: #ececec;
  --small-font-color : #666;
  --main-section-padding : 100px 15px;
  --quality-color : #f44036;
  --time-color : #009688;
  --passion-color : #03a9f4;
}

* {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.2;
}


a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  background-color: var(--white-color);
}

/* main container */
.container {
  margin: auto;
}

/* start header  */
header {
  background-color: var(--white-color);
  padding-left: 10px;
  padding-right: 10px;
  text-transform: capitalize;
  box-shadow: 0px 1px 10px rgb(180, 179, 179);
}

header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
}

header .main-nav  {
  display: flex;
  font-size: 18px;
}

.main-nav > li > a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  color: black;
  height: 72px;
  transition-property: color background-color;
  transition-duration: var(--transition-period);
}
.main-nav > li > a:hover {
  color: var(--main-color);
  background-color: var(--bg-hover-button);
}

.main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  top: 0%;
  background-color: var(--main-color);
  transition-property: width;
  transition-duration: var(--transition-period);
}
.main-nav > li > a:hover::before {
  width: 100%;
}
.main-nav > li:last-child:hover .mega-menu {
  display: flex;
}
.mega-menu {
  position: absolute;
  display: none;  
  width: 100%;
  height: fit-content;
  gap: 50px;
  top: 72px;
  right: 0px;
  z-index: 100;  
  padding: 30px; 
  background-color: var(--white-color);
  border-top: 2px solid var(--soft-border-color);
  border-bottom: 3px solid var(--main-color);
}

.mega-menu .image img{
  max-width: 100%;
}
.mega-menu ul {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 250px;
}
.mega-menu a {  
  display: block;
  color: var(--main-color);
  font-weight: bold;
  font-size: 18px;
  padding: 15px;
  transition: var(--transition-period);
}
.mega-menu ul :not(:last-child) {
  border-bottom: 1px solid var(--soft-border-color);
}
.mega-menu a:hover {
  padding-left: 20px;
}
.mega-menu a i {
  margin-right: 10px;
}
/* End header  */

/* ------------------------------------------------ */

/* start landing */
.landing {
  position: relative;
}

.landing .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 865px;
  padding-bottom: 90px;
  z-index: -1;
  padding-left: 15px;
  padding-right: 15px;
}

.landing::before {
  position: absolute;
  content: "";
  background-color: var(--section-background);
  width: 100%;
  height: 100%;
  z-index: -2;
  top: -40px;
  transform-origin: top left;
  transform: skewY(-6deg);
}

.landing i {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  color: var(--main-color);
  font-size: 2rem;
  animation: imoving 1.5s  infinite;
  animation-timing-function: ease;
}

@keyframes imoving {
  0%,20%,50%,80%,100% {
    transform: translate(-50%,0px);
  }
  40%,60% {
    transform: translate(-50%,-15px);
  }
}

.landing h1 {
  text-transform: capitalize;
  font-size: 40px;
  line-height: 1.6;
  letter-spacing: -2px;
}

.landing p {
  font-size: 23px;
  line-height: 1.6;
  max-width: 500px;
  color: var(--small-font-color);
}

@media (max-width : 768px ) {
  .landing h1 {
    font-size: 28px;
  }
  .landing p {
    font-size: 18px;
    max-width: 400px;
  }
}

.landing .image img {
  position: relative;
  width: 600px;
  animation: Ymoving 5s linear infinite;
}

@keyframes Ymoving{
  0%,
  100% {
    top : 0;
  }
  50% {
    top : -50px;
  }
}
@media (max-width : 991px) {
  .landing .image img {
    display: none;
  }
  .landing .production {
    text-align: center;
  }
}

/* End landing */

/* --------------------------------------------- */

/* start title */
.main-title {
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
  margin: 0px auto 80px ;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  border : 2px solid black;
  cursor: pointer;
  transition: var(--transition-period);
  z-index: 1;
}

.main-title:hover {  
  color: white;
  border-color: white;
  transition-delay: 0.5s;
}

.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border-radius: 50% ;
  z-index: -1;
}

.main-title::before {
  left: -30px;
}

.main-title:hover::before {
  animation : left-move .5s linear forwards;
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;    
    border-radius: 0px;
    width: 51%;
    height: 100%;
  }
}

.main-title::after {
  right: -30px;
}


.main-title:hover::after {
  animation: right-move .5s linear forwards;
}

@keyframes right-move {
  50%{
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0px;
    width: 51%;
    height: 100%;
  }
}
/* end title */

/* ------------------------------------------------ */

/* start articles */
.articles {
  padding: var(--main-section-padding);
}

.articles .container {
display: grid;
grid-template-columns: repeat(auto-fill , minmax(calc((1170px - 120px) / 4) , 1fr));
gap: 40px;
}

.articles .container > div {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  box-shadow: 0px 2px 15px  rgba(0, 0, 0, 0.15);
  transition-duration: var(--transition-period);
}

.articles .container > div:hover {
  box-shadow: 2px 3px 12px 0px rgba(0, 0, 0, 0.201);
  transform: translateY(-10px);
}

.articles img {
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.articles .content {
  flex-grow: 1;
  padding: 20px;
  border-bottom: 1px solid var(--soft-border-color);  
}
.articles h3 {
  text-transform: capitalize;
  margin-bottom: 10px;
}

.articles p {
  color: var(--small-font-color);
  max-height: 100px;
  overflow: hidden;
}

.articles .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.articles a {  
  text-transform: capitalize;
  font-weight: bold;  
  color: var(--main-color);
}

.articles i {
  position: relative;
  color: var(--main-color);

}

.articles .container > div:hover i {
  animation: Xmove .7s linear infinite;
}

@keyframes Xmove{
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(10px);
  }
}
/* End articels */

/* start gallery */

.gallery {
  background-color: var(--section-background);
  padding: var(--main-section-padding);
}

.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(calc((1170px - 80px) / 3) , 1fr));
  gap: 40px;
}

@media (max-width : 991px) {
  .gallery .container {
    grid-template-columns: repeat(auto-fill , minmax( calc((640px - 40px ) / 2) ,1fr));
  }
}

.gallery .box {
  overflow: hidden;
  padding: 15px;  
  background-color: white;
  box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.1);
}

.gallery .image {
  position: relative;
  overflow: hidden;
  transition: var(--transition-period);
}


.gallery .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);  
  width: 0;
  height: 0;
  opacity: 0.1;
  background-color: white;
  z-index: 10;
}

.gallery .image:hover::before {
  animation: flashing var(--transition-period);

}

@keyframes flashing {
  from {
    width: 0;
    height: 0;
  }

  to {
    width: 100%;
    height: 100%;
  }
}

.gallery img {
  width: 100%;
  transition: var(--transition-period);
  z-index: -1;
}

.gallery .image:hover img {
  transform: scale(1.1) rotate(5deg);
}

/* end gallery */

/*--------------------------------------------------*/

/* start features */
.features {
  padding: var(--main-section-padding);
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(calc((1170px - 80px) / 3) , 1fr));
  gap: 40px;
}

@media (max-width : 991px) {
  .features .container {
    grid-template-columns: repeat(auto-fill , minmax( calc((640px - 40px ) / 2) ,1fr));
  }
}

.features .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.29);
  overflow: hidden;
}


.features .image {
  position: relative;
}

.features .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 0, 0);
  opacity: .4;
}

.features .quality .image::before {
  background-color: var(--quality-color);
}
.features .time .image::before {
  background-color: var(--time-color);
}
.features .passion .image::before {
  background-color: var(--passion-color);
}

.features .image::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-color: transparent transparent white transparent;
  border-width: 0px 0px 170px 650px;
  transition: var(--transition-period);
}

.features .box:hover .image::after {
  border-width: 0px 650px 170px 0px;
}
.features img {
  width: 100%;
}

.features .content {
  text-align: center;
  margin-bottom: 30px;
  flex: 1;
  overflow: hidden;
}

.features h3 {
  position: relative;
  font-size: 40px;
  text-transform: capitalize;
  width: fit-content;
  margin: auto;
}

.features h3::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform-origin: center center;
  transform: translatex(-50%);
  height: 5px;
  width: 80%;
}

.features .quality h3::before {
  background-color: var(--quality-color);
}

.features .time h3::before {
  background-color: var(--time-color);
}

.features .passion h3::before {
  background-color: var(--passion-color);
}

.features p {
  margin-top: 50px;
  max-height: 160px;
  font-size: 20px;
  line-height: 1.6;
  color: var(--small-font-color);
  padding: 25px;
}

.features a {
  position: relative;
  padding: 10px 30px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 22px;
  border-width: 2px ;
  border-style: solid;
  border-radius: 6px;
  cursor: pointer;
  transition: var(--transition-period);
}

.features .quality a {
  color: var(--quality-color);
  border-color: var(--quality-color);
}
.features .time a {
  color: var(--time-color);
  border-color: var(--time-color);
}
.features .passion a {
  color: var(--passion-color);
  border-color: var(--passion-color);
}

.features a::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: var(--transition-period);
}

.features .quality a::before {
  background-color: var(--quality-color);
}
.features .time a::before {
  background-color: var(--time-color);
}
.features .passion a::before {
  background-color: var(--passion-color);
}

.features .box:hover a {
  color: white;
}

.features .box:hover a::before {
  width: 100%;
}

/* end features */

/* responsive design */
@media (max-width:768px) {
  header .container {
    position: unset;
    flex-direction: column;
  }
  header .logo {
    height: 50px;
  }
  .main-nav > li > a {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 16px;
    height: 40px;
  }
  .mega-menu {
    top: 90px;
    flex-direction: column;
    gap: 0px;
    padding: 0px;
  }
  .mega-menu ul:first-of-type {
    border-bottom: 1px solid var(--soft-border-color);
  }
}


@media (min-width : 768px ){
  .container {
    width: 750px;
  }

}

@media (min-width : 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width : 1200px) {
  .container {
    width: 1170px;
  }
}
@media  (max-width : 991px){
header .image  {
    display: none;
  }
}

